:root {
  --background-color: #16ffbd;
  --primary-color: #000;
  --highlight-color: #ff8dac;
}

/*{
    background-image : url('../img/fondo.png');
}*/

#root {
  width: 250px;
  margin: 1px;
  padding: 1px;
  text-align: center;
  width: auto;
}
/* body {
  background-image: url("../img/fondo.png");
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  line-height: 2;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;  
} */
 
